@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
}
}

  